<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        {% for pok in poke %}
        <input type="checkbox" name="poke" value="{{ pok }}">{{ pok.name }}<br>
        {% endfor %}
        <input type="hidden" name="cat_id" id="cat_id" value="">
        <input type="button" id="">
    </form>
</body>


</html>